<nav class="w-full bg-(--color-light) shadow-xl">
  <div class="flex items-center justify-center h-20">
    <div class="w-10 h-10 rounded-2xl bg-(--color-main) mr-4 shadow-lg">
    </div>
    <h1 class="font-[Inter] text-xl text-(--color-dark) font-semibold">
      GENERADOR DE PALETA DE COLORES
    </h1>
  </div>
</nav>